@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

$black: #333333;
$grey: #4B4B4B;
$white: #E6E6E6;


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
}

body {
  min-width: 500px;
  background-color: $grey;
}

header,footer {
  padding: 0 20px;
  min-height: 8rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: $black;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__buttons {
  display: flex;
  gap: 10px;
}

.buttons__new, .buttons__reset {
  padding: 10px 20px;
  border-radius: 5px;
  border: $white 1px solid;
  
  font-family: 'Poppins';
  font-weight: 600;

  background-color: transparent;
  color: $white;

  cursor: pointer;
}

main {
  flex-basis: 100%;
  min-height: calc(100vh - 16rem);
  
  display: grid;
  place-items: center;
  position: relative;
   
}

.main__game {
  width: 40%;
  min-width: 400px;
  display:flex;
  flex-direction: column;
  gap: 20px;
}

.game__display {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

.game__display > * {
  padding: 20px;
  height: 280px;

  flex-basis: 0;
  flex-grow:1;

  border-radius: 5px;
  background-color: white;

}

.game__pallette {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  
}

.game__pallette > * {
  min-width:calc( (100% / 5) - 20px);
  min-height:80px;
  border-radius: 5px;
  cursor: pointer;
}

.main__timer, .scoreboard {
  position: absolute;
  top: 10px;
  right:20px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 3rem;
  color: white;
}

.scoreboard {
  left: 20px;
}

.selected {
  border: 1px dashed steelblue;
}

.modal {
  width: 600px;
  height: 300px;
  border: 1px solid #cecece7c;
  border-radius: 5px;
  box-shadow: 1px 4px 15px 5px #615e5e;
  font-size: 4rem;
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 300px);

}

.modal__content {
  width: 100%;
  height: 100%;
  padding: 30px;
  display: grid;


}

.modal::backdrop {
  position: absolute;
  inset:0;
  background-color:rgba(255, 255, 255, 0.438);
  filter:blur(5px);
}

.modal__title {
  font-size: 36px;
}

.modal__body{
  font-size: 16px;
}

.modal__buttons {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.modal__button-close, .modal__button-new {
  padding: 10px 30px;
  align-self: end;
  box-shadow: 1px 1px 5px 1px #a6a6a696;

}

.modal__button-new {
  border: 2px solid $grey;
  border-radius: 5px;
  background-color: $grey;
  color: $white;
}

.modal__button-close {
  color: $grey;
  border-radius: 5px;
  border: 2px solid buttonface;
}
.blur {
  filter: blur(10px);
}
